.container
  .row
    h1 Hello World
  .row
    .col-sm-6
      h3 Fortran Web Server
      p It's happening!
    .col-sm-6
      h3 Testing attributes
      a(href="https://github.com/mapmeld/fortran-machine") GitHub link
