.container
  .row
    .col-sm-12
      h1 Fortran.io
  .row
    .col-sm-4
      h3 Finally, a Fortran Web Server
      p After years of obscurity, Fortran is coming back into fashion.
      p Ashes to ashes. Dust into dust. Fortran to JavaScript, back to Fortran
    .col-sm-4
      h3 Open Source
      p
        span The source code and documentation are open source, BSD license
        br
        a(href="https://github.com/mapmeld/fortran-machine") on GitHub
    .col-sm-4
      h3 Features
      ul
        li HTML templating with Jade
        li SQLite (coming soon)
        li Fortran skills
  .row
    .col-sm-6
      h3 Installing
      p Fortran.io is like PHP: FastCGI runs a script which outputs HTML strings
      h4 Using Ubuntu 14.04
      code sudo apt-get install nginx gfortran spawn-fcgi git libfcgi-dev
      br
      code git clone https://github.com/mapmeld/fortran-machine.git
      br
      strong Use gfortran to compile flibs and other libraries, then:
      br
      code spawn-fcgi -a 127.0.0.1 -p 9000 ./fortran_fcgi
  .row
    .col-sm-12
      h4 About
      p This page is served by a Fortran server and uses a LetsEncrypt cert
      p
        span Follow me&nbsp;
        a(href="https://twitter.com/mapmeld") on Twitter
        span &nbsp;and check out my other projects&nbsp;
        a(href="https://github.com/mapmeld?tab=repositories") on GitHub
        span .
