.t
  .row
    .col-sm-12
      .page-header
        h1
          a(href="/") FORTRAN.io
          small finally, a Fortran Web Framework
  .row
    .col-sm-6
      h3 Try a search
      form(action="/search")
        h4 Marsupial Search
        .form-group
          input(name="q"placeholder="eg&nbsp;koala")
          input(type="submit"value="Search")
      a(href="/all")
        button.btn.btn-default See All
  hr
