#id ID
.class class
#id.class ID and class
.class#id class and ID
a(href="/") link
a(href="#x") hashlink

a#id(href="/") id and link
a.class(href="/") class and link
a#id.class(href="/") id and class and link
a.class#id(href="/") id and class and link

a#id(href="#x") id and hashlink
a.class(href="#x") class and hashlink
a#id.class(href="#x") id and class and hashlink
a.class#id(href="#x") id and class and hashlink

#id(style="") ID
.class(style="") class
#id.class(style="") ID and class
.class#id(style="") class and ID
.sample(a="", b="") attrs
.sample(a="#", b=".") attrs
.sample(a=".", b="#") attrs

input(type="text", placeholder="dont mess it up")
(x="text", style="color: red") test more

button.btn.btn-primary Test button
